<h1 class="pt-5 pb-4">List of employees</h1>
{{#link-to 'employees.new' (query-params action='action') tagName='button' class='btn btn-info btn-sm mb-3'}}Add new employee{{/link-to}}
<button {{action 'findAverageSalary' company}} class='btn btn-info btn-sm mb-3'>Average salary</button> 
 <BsAlert
  @visible={{alert}}
  @fade={{true}}
  @type="info"
  @dismissible={{true}}
  @onDismiss={{action "dismissAlert"}} >
  Average salary is <strong> {{averageSalary}}  </strong> 
  </BsAlert>

    <div class="row">
    <div class="col-md-12">
		<div class="table-responsive">
		<table class="table table-bordered">
		<thead>
			<tr>
			<th scope="col">#</th>
			<th scope="col">Surname</th>
			<th scope="col">Name</th>
			<th scope="col">Email</th>
			<th scope="col">Address</th>
			<th scope="col">Salary</th>
			<th scope="col"></th>
			</tr>
		</thead>
			{{#each employees as |employee index|}}
		<tbody>
			<tr>
			<th scope="row">{{index-counter index}}</th>
			<td>{{employee.surname}}</td>
			<td> {{employee.name}}</td>
			<td>{{employee.email}}</td>
			<td>{{employee.address}}</td>
			<td>{{employee.salary}}</td>
			<td class="text-center">
				{{#link-to 'employees.edit' employee.id (query-params action='view') tagName='button' class='btn btn-info btn-sm employee-btn'}}View{{/link-to}}
				{{#link-to 'employees.edit' employee.id (query-params action='edit') tagName='button' class='btn btn-info btn-sm employee-btn'}}Update{{/link-to}}
				<button {{action 'setEmployeeToDelete' employee.id}} class='btn btn-info btn-sm employee-btn'>Delete</button>  
			</td>
			</tr>	
		</tbody>
		{{/each}}
		</table>
		</div>
       	</div>
      </div>


   {{#bs-modal-simple
     title="Please confirm"
     closeTitle="Cancel"
     submitTitle="Confirm"
     size=null
     fade=false
     open=employeeToDelete
     onSubmit=(action "deleteEmployee" employeeToDelete)
     onHide=(action "cancleDeleltingEmployee")}}
      Are you sure you want to delete this record?
   {{/bs-modal-simple}}

 





